
@model Do_An_KDCLPM.Models.accounts
@{
    ViewBag.Title = "Thêm mới tài khoản";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script>
        // Disable form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Get the forms we want to add validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
            $(".custom-file-input").on("change", function () {
                let fileName = $(this).val().split("\\").pop();
                console.log(fileName);
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });
            $('#input_status').change(function () {
                if ($(this).is(":checked")) {
                    $('#input_mess-status').text('Mở');
                    $('input[name="status"]').val('True');
                }


                else {
                    $('#input_mess-status').text('Khoá');
                    $('input[name="status"]').val('False');
                }

            });
        })();

    </script>
    @if (TempData["status"] != null)
    {      
        <script>
            $(function () {
                iziToast.warning({
                    timeout: 1500,
                    title: 'Lỗi',
                    message: `@TempData["status"]`,
                    position: 'topRight'
                });
            })
        </script>

    }
}
@section styles{
    <style>
        .custom-file-label {
            left: 0.75rem;
            right: 0.75rem;
        }

        .input-ckb {
            height: 20px;
            width: 20px;
            cursor: pointer;
        }
    </style>}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Thêm mới tài khoản</h6>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Create", "Account_admin", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "needs-validation", @novalidate = "true" }))
        {
            @Html.AntiForgeryToken();
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-12">Họ tên</label>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.fullname, new { htmlAttributes = new { @placeholder = "Nhập vào họ tên.", @required = true, @class = "form-control" } })
                        <div class="valid-feedback">Valid</div>
                        <div class="invalid-feedback">Nhập vào họ tên</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-12">Tên đăng nhập</label>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.username, new { htmlAttributes = new { @placeholder = "Nhập vào tên đăng nhập.", @required = true, @class = "form-control" } })
                        <div class="valid-feedback">Valid</div>
                        <div class="invalid-feedback">Nhập tên đăng nhập</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-12">Email</label>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @type = "email", @placeholder = "Nhập vào email.", @required = true, @class = "form-control" } })
                        <div class="valid-feedback">Valid</div>
                        <div class="invalid-feedback">Nhập email</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-12">Số điện thoại</label>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @type = "tel", @placeholder = "Nhập vào số điện thoại.", @required = true, @class = "form-control" } })
                        <div class="valid-feedback">Valid</div>
                        <div class="invalid-feedback">Nhập số điện thoại</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-12">Địa chỉ</label>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.address, new { htmlAttributes = new { @placeholder = "Nhập vào địa chỉ.", @required = true, @class = "form-control" } })
                        <div class="valid-feedback">Valid</div>
                        <div class="invalid-feedback">Nhập vào địa chỉ</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-12" for="image">Ảnh đại diện</label>
                    <span class="custom-file col-md-12">
                        <input type="file" class="custom-file-input" id="btnimg" name="file">
                        <label class="custom-file-label" id="txtimg" for="customFile">Chọn ảnh</label>
                    </span>
                    <input name="image" id="txtimg_hide" type="hidden" />
                </div>
                <div class="form-group">
                    <label class="control-label col-md-12">Trạng thái</label>
                    <div class="col-md-12">
                        <div class="d-flex align-items-center">
                            <input id="input_status" class="input-ckb" type="checkbox" checked="checked" />
                            <span class="ml-2" id="input_mess-status">Mở</span>
                            <input type="hidden" name="status" value="True" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-12">Quyền</label>
                    <div class="col-md-12">
                        @Html.DropDownList("idrole", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <a href="/admin/tai-khoan" class="btn btn-light btn-icon-split" style="margin:0 0.75rem">
                        <span class="icon text-gray-600">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                        <span class="text">Trở về</span>
                    </a>
                    <button type="submit" style="margin:0 0.75rem" class="btn btn-success btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span class="text">Tạo mới</span>
                    </button>
                </div>
            </div>
        }
    </div>
</div>
