@using Do_An_KDCLPM.Models;
@model PagedList.IPagedList<category>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Danh sách loại sản phẩm";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
    var db = new QL_LINHKIENDIENTU_WEBEntities();
}
@section styles{
    <style>
        .img-product {
            width: 100px;
            height: 100px;
        }

        .modal-body {
            overflow-y: scroll;
            max-height: 70vh;
        }

            .modal-body p {
                margin: 0;
            }
    </style>
}
@section scripts{
    @if (TempData["status"] != null)
    {
        <script>
            $(function () {
                iziToast.success({
                    timeout: 1500,
                    title: 'Thành công',
                    message: `@TempData["status"]`,
                    position: 'topRight'
                });
            })
        </script>
    }
}
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex align-items-center justify-content-between flex-wrap">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách loại sản phẩm</h6>
        <form method="get" action="/admin/tim-kiem-loai-san-pham" class="d-sm-inline-block form-inline ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
                <input name="tukhoa" type="text" class="form-control bg-light border-0 small" placeholder="Tìm kiếm..." aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>

        <a href="/admin/them-loai-san-pham" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-plus fa-sm text-white-50"></i> Thêm mới
        </a>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="ui-sortable-table table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tên</th>                        
                        <td>Công cụ</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="_category_@item.id">
                            <td>@item.id</td>
                            <td>@item.name</td>
                            <td>
                                <div class="tool d-flex align-items-center flex-column justify-content-center">
                                    <a href="/admin/sua-loai-san-pham/@(item.alias)" title="Sửa loại nón @item.name" class="mb-1 d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                                        <i class="far fa-edit"></i>
                                    </a>
                                    <a data-id="@item.id" title="Xoá loại @item.name" class="delete_category d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@if (ViewBag.last != 1)
{
    <ul class="pagination mr-auto ml-auto" style="justify-content:center;">
        @if (ViewBag.check == true)
        {
            @Html.PagedListPager(Model,
        page => Url.Action("Index", new { page }),
        new PagedListRenderOptions
        {
            MaximumPageNumbersToDisplay = 3
        })
        }
        else
        {
            @Html.PagedListPager(Model, page => Url.Action("Search", new { tukhoa = Request.Url.Query.Substring(Request.Url.Query.IndexOf("?tukhoa="), Request.Url.Query.LastIndexOf('&') == -1 ? Request.Url.Query.Length : Request.Url.Query.LastIndexOf('&')).Replace("?tukhoa=", ""), page }),
                                    new PagedListRenderOptions
                                    {
                                        MaximumPageNumbersToDisplay = 5
                                    });
        }


    </ul>
}