@using Do_An_KDCLPM.Models;
@model PagedList.IPagedList<orders>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Danh sách hoá đơn";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
    var db = new QL_LINHKIENDIENTU_WEBEntities();
}
@section styles{
    <style>
        .img-product {
            width: 100px;
            height: 100px;
        }

        .modal-body {
            overflow-y: scroll;
            max-height: 70vh;
        }

            .modal-body p {
                margin: 0;
            }
    </style>
}
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex align-items-center justify-content-between flex-wrap">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách hoá đơn</h6>
        <form method="get" action="/admin/tim-kiem-hoa-don" class="d-sm-inline-block form-inline ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
                <input name="tukhoa" type="text" class="form-control bg-light border-0 small" placeholder="Tìm kiếm..." aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>
        <span></span>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="ui-sortable-table table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tên tài khoản</th>
                        <th>Ngày đặt</th>
                        <th>Email</th>
                        <th>Họ tên</th>
                        <th>Địa chỉ</th>
                        <th>Số điện thoại</th>
                        <th>Tổng giá</th>
                        <th>Ghi chú</th>
                        <th>Công cụ</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="_order_@item.id">
                            <td>@item.id</td>
                            <td>@item.createdate</td>
                            <td>@item.email</td>
                            <td>@item.fullname</td>
                            <td>@item.address</td>
                            <td>@item.phone</td>
                            <td>@Libary.Instances.convertVND(item.total.ToString())</td>
                            <td>@item.note</td>                          
                            <td>
                                <div class="tool d-flex align-items-center flex-column justify-content-center">
                                    <a data-toggle="modal" data-target="#order_@item.id" title="Xem hoá đơn mã @item.id" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm mb-2">
                                        <i class="far fa-eye"></i>
                                    </a>   
                                    <a data-toggle="modal" data-target="#order_@item.id-detail" title="Xem chi tiết hoá đơn mã @item.id" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                                        <i class="fas fa-info-circle"></i>
                                    </a>                               
                                </div>
                            </td>
                        </tr>
                        <!-- Order Modal-->
                        <div class="modal fade" id="order_@item.id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Thông tin hoá đơn có mã <strong>@item.id</strong></h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p><strong>Mã:</strong> @item.id</p>
                                        <p><strong>Tên tài khoản:</strong> @item.accounts.username</p>
                                        <p><strong>Ngày đặt: </strong> @item.createdate</p>
                                        <p><strong>Email:</strong> <a href="mailto:@item.email">@item.email</a></p>
                                        <p><strong>Họ tên khách hàng:</strong> @item.fullname</p>
                                        <p><strong>Địa chỉ:</strong> @item.address</p>
                                        <p><strong>Điện thoại:</strong><a href="tel:@item.phone">@item.phone</a></p>
                                        <p><strong>Tổng giá:</strong> @Libary.Instances.convertVND(item.total.ToString())</p>
                                        <p><strong>Ghi chú:</strong> @item.note</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Đóng</button>
                                    </div>
                                </div>
                            </div>
                        </div>



                    }
                </tbody>
            </table>
        </div>
    </div>

</div>
@foreach (var item in Model)
{
    <div class="modal fade" id="order_@item.id-detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thông tin hoá đơn có mã <strong>@item.id</strong></h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card shadow mb-4">
                        <div class="table-responsive">
                            <table class="ui-sortable-table table table-bordered" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Tên sản phẩm</th>
                                        <th>Giá</th>
                                        <th>Số lượng</th>
                                        <th>Thành tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item_detail in db.orderdetails.Where(x => x.idorder == item.id).ToList())
                                    {
                                        <tr>
                                            <td>@item_detail.idorder</td>
                                            <td>@item_detail.products.name</td>
                                            <td>@Libary.Instances.convertVND(item_detail.price.ToString())</td>
                                            <td>@item_detail.quantity</td>
                                            <td>@Libary.Instances.convertVND(item_detail.subtotal.ToString())</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>

}
@if (ViewBag.last != 1)
{
    <ul class="pagination mr-auto ml-auto" style="justify-content:center;">
        @if (ViewBag.check == true)
        {
            @Html.PagedListPager(Model,
        page => Url.Action("Index", new { page }),
        new PagedListRenderOptions
        {
            MaximumPageNumbersToDisplay = 3
        })
        }
        else
        {
            @Html.PagedListPager(Model, page => Url.Action("Search", new { tukhoa = Request.Url.Query.Substring(Request.Url.Query.IndexOf("?tukhoa="), Request.Url.Query.LastIndexOf('&') == -1 ? Request.Url.Query.Length : Request.Url.Query.LastIndexOf('&')).Replace("?tukhoa=", ""), page }),
                                    new PagedListRenderOptions
                                    {
                                        MaximumPageNumbersToDisplay = 5
                                    });
        }

    </ul>
}